@font-face {
    font-family: 'BeaufortforLOL-BoldItalic';
    src: url('Fonts_Package/BeaufortForLoL-OTF/BeaufortforLOL-BoldItalic.otf') format('otf'), /* Modern Browsers */
         url('Fonts_Package/BeaufortForLoL-OTF/BeaufortforLOL-BoldItalic.otf') format('otf'); /* Older Browsers */
    font-weight: bold;
    font-style: italic;
}
 /* 'BeaufortforLOL-BoldItalic', sans-serif */


@font-face {
    font-family: 'Spiegel-BoldItalic';
    src: url('Fonts_Package/Spiegel-OTF/Spiegel-Regular.otf') format('otf'), /* Modern Browsers */
         url('Fonts_Package/Spiegel-OTF/Spiegel-Regular.otf') format('otf'); /* Older Browsers */
    font-weight: bold;
    font-style: italic;
}
 /* 'Spiegel-BoldItalic', sans-serif */

