* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    cursor: url("../assets/section1/hand1.png"), auto;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    font-family: "BeaufortforLOL-BoldItalic";
    scroll-behavior: smooth;
}

.login-form {
    width: 100%;
    height: 100vh;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}